/* .app-header {
    background: linear-gradient(180deg, #D9C0A4 0%, #A98965 100%);
}

.app-sidebar {
    background: linear-gradient(180deg, #D9C0A4 0%, #A98965 100%);
}

body {
    background-color: #FFF7ED;
} */
 

.app-header {
    border: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    z-index: 1030;
    height: 60px;
    background: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-transition: box-shadow .2s linear;
    -moz-transition: box-shadow .2s linear;
    -ms-transition: box-shadow .2s linear;
    -o-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
    -webkit-box-shadow: 0 6px 6px rgba(31,107,255,.1);
    box-shadow: 0 6px 6px rgba(31,107,255,.1);
}

.app-sidebar .menu .menu-item .menu-icon {
    color: #ffffff;
}

.app-header .brand img {
    max-height: 55px;
    max-width: 100%;
}

.app-header .menu .menu-item .menu-link:focus, .app-header .menu .menu-item .menu-link:hover {
    color: #e7c840;
}

.btn-primary {
    color: #fff;
    background-color: #e7c840;
    border-color: #e7c840;
}

.app-sidebar {
    background: #000000;
}
.dashboard_card .card {
    height: 140px;
}
.app-sidebar .menu .menu-item .menu-link {
    padding: 6px 10px;
    line-height: 30px;
    text-decoration: none;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.filter-form label {
    display: block;
    font-size: 15px!important;
    color: #4B3B2E !important;
    margin-bottom: 4px;
}
.table .thead-light th {
    color: #4B3B2E;
    background-color: #dae0ec;
    border-color: #4B3B2E;
}
.btn-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #DBC9B1;
    border: none;
}
.app-sidebar .menu .menu-item .menu-link:hover {
    background: #e7c840;
}

.app-sidebar .menu .menu-header {
    color: #e7c840;
}
body {
    /* background-color: #0e0e0e !important; */
    /* background-color: #e7c840 !important; */
    background-color: #e5e5e5  !important;
}
.app-footer {
    background: #0e0e0e;
        color: white;
}

.app-header .menu .menu-item .menu-link {

    color: #ffffff;

}
.app-header .menu-toggler .bar {
    background: #ffffff;
}
.alert-danger {
    background: #4B3B2E;
    color: white;
    border-color: #ffc8c5;
}
.card-body {
    padding: 1rem;
}

    .row.variations select.form-select {
        border: 1px solid #ccc;
        padding: 5px 10px;
    }

    .ck-content ul {
        list-style-type: disc !important;
        padding-left: 2em !important;
        margin-left: 1em !important;
    }

    .ck-content ul li {
        list-style-type: disc !important;
        display: list-item !important;
        margin-left: 0 !important;
    }

    .ck-content ol {
        list-style-type: decimal !important;
        padding-left: 2em !important;
        margin-left: 1em !important;
    }

    .ck-content ol li {
        display: list-item !important;
    }

    .ck.ck-editor__editable_inline {
        padding-left: 2em !important;
    }